body {
    /* Typography Declarations */
    color: #0000FF;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.content-footer, .masthead-intro, .masthead-heading
{
  text-align: center;
}
@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
}
.masthead {
    padding: 6em 0;
  
  background-image: url('https://unsplash.imgix.net/photo-1414438992182-69e404046f80?q=75&fm=jpg&s=009738f458a5234335b2e05677029b39');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #0000FF;
}

.masthead-intro {
    margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
}
.where-from {padding: 6em 0;}

.content-footer,
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social > li {
    display: inline-block;
}
.content-footer > p {
 color: white;
}
.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}
.content-footer {
  /* Red, Green, Blue: #RRGGBB */
  background-color: #FF4829;
}

.location-section, .introduction-section, .questions-section {
  /* Red, Green, Blue: #RRGGBB */
  background-color: #3399CC;
}

/*cases section*/
.htmlcssprojects {

    overflow: hidden;
    padding-bottom: 10rem;
}
.htmlcssprojects .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.htmlcssprojects h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.htmlcssprojects .devices {
    display: flex;
}
.cases .devices > li {
    width: 33.3333333%;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;

}
